{% extends 'base.html.twig' %}

{% block title %}Success {% endblock %}

{% block body %}
{{ include("partials/title_section.html.twig", { 'name':'Success de Réservation'}) }}
<div class="section checkout">
	<div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="text-center order_complete">
                	<i class="fas fa-check-circle"></i>
                    <div class="heading_s1">
                      <h3>Réservation effectué avec succès !</h3>
                      <div class="">
                        <div>Réservation  <strong></strong> a été accepté.</div>
                        <div>Votre Réservation est "en attente de vérification".
Les paiements sont généralement fait le jour de Déplacement.
Après vérification, le Chauffeur Taxi vous contacte quand il arrive le jour de rendez vous .
Pendant ce de temps, vous pouvez modifier ou annuler votre Réservation.</div>
                        <div>
                          <div>Merci pour votre Réservation ! Votre Réservation est en cours de traitement et sera terminée dans les 3 à 6 heures. Vous recevrez un courriel de confirmation lorsque le traitement sera terminée.</div>
                          <a href="{{ path('home') }}" class="btn btn-fill-out">Faire une autre Reservervation </a>
                        </div>
                      </div>
                      <div >
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
