{% extends 'base.html.twig' %}

{% block title %}CGU Kassas Taxi 92 §{% endblock %}

{% block body %}

{{ include("partials/title_section.html.twig",{'name':'Conditions Générales d\'Utilisation'}) }}
<div class="Container">
    <h1 class="text-center">Conditions Générales d'Utilisation du site Kassas Taxi 92</h1>

<p class="text-justify"> 
<div class="container">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate voluptatum facere ea, facilis natus maiores minus animi dolores laboriosam, eos corporis perferendis? A, praesentium, adipisci dolor placeat earum esse unde suscipit eos officia doloribus odio exercitationem? Sapiente dicta sint minima debitis accusantium earum eaque minus, animi officia, neque mollitia voluptate provident siofficiis aliquid, iusto expedita adipisci porro natus fugiat voluptates eos qui quisquam quae dicta quasi deleniti minus est necessitatibus labore dolore accusantium praesentium. Consequatur soluta rerum iste voluptatem debitis nemo sit doloribus. Quae reiciendis quisquam unde error at ea enim suscipit nobis possimus. Beatae fugit impedit corrupti ipsa nemo. Corporis doloremque dolores cumque! Fugiat ducimus in omnis hic impedit? Expedita dolorem obcaecati eveniet accusamus esse aperiam sint sit earum non eaque consequatur maiores, nihil reiciendis fugiat omnis est dolores! Quae ut nesciunt consequuntur expedita! Doloremque modi ullam, ratione voluptatum dolorum maxime molestiae? Provident similique iusto a ex harum natus expedita? Nostrum accusamus incidunt aut repudiandae sed esse expedita, et, unde quam consequuntur neque perspiciatis quas cumque dolore veritatis dolor voluptates iure exercitationem reprehenderit explicabo dicta enim quos! Doloremque ipsa fuga voluptates soluta consequatur vitae maxime similique quis repellat ratione expedita minus quos eaque quidem, id odit inventore. Earum maxime voluptates laboriosam ipsam laborum quo corporis qui et assumenda optio sapiente aliquam accusamus incidunt illo non modi, libero maiores ipsa officia, quam repellat culpa minus cum. Optio esse aut sit asperiores fuga corporis vitae, earum voluptate corrupti doloribus autem velit dicta dolorem debitis magni sapiente minus provident repellat nihil iusto laborum exeri molestias nisi, quam veniam suscipit ullam atque consequuntur aliquid adipisci dolore quisquam quae voluptas, provident enim laboriosam! Quos cum consequatur voluptas porro! Expedita fugit voluptas delectus temporibus dolores eius ipsa saepe vero deserunt dignissimos, ad voluptatem consequuntur, illo non illum in alias molestias? Nesciunt aspernatur alias voluptates beatae recusandae voluptas harum obcaecati, repudiandae, accusamus similique deleniti facilis nam quae tenetur sint perferendis sunt illum laborum sit reiciendis rerum voluptate saepe. Excepturi labore atque natus sit? Animi minima rem rerum minus suscipit vitae cupiditate consectetur sint impedit distinctio quis dolor placeat iure aliquam, dolorem consequuntur excepturi labore fugit dolorum! Delectus aliquam ducimus voluptates quasi qui, ad nam adipisci pariatur iusto minima nesciunt architecto placeat saepe illo accusamus quibusdam ipsum. Eaque quas laudantium commodi eveniet perferendis error in animi doloremque, unde qui vero. Aut placeat aspernatur laboriosam fugit praesentium explicabo animi nulla, nobis possimus ullam a voluptatibus corporis tempora pariatur qui ex adipisci, voluptates hic quam ut maiores dolorem minus? Voluptatibus, est 
</div>
</p>
</div>
{% endblock %}
